body {
    background-color: #EEE;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
input[type=search] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #FFF;
    background-image: url(searchicon.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    -webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
    padding: 12px 20px 12px 40px;
}
input[type=search]:focus {
    width: 100%;
}
.container {
    border-radius: 15px;
    border: 1px solid #000;
    height: 460px;
    background-color: #FFF;
    z-index: +2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    float: left;
    position: relative;
    width: calc(50%*.3333-20px+.3333*300px);
    overflow: visible;
    margin: 0 30px 30px 0;
    padding: 10px 20px 50px;
}
.compare {
    height: 30px;
    position: relative;
    font-family: Seoge UI;
}
.card {
    height: 260px;
    width: 80%;
    opacity: 1;
    padding: 10px;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 240px;
    transition: .5s ease;
    backface-visibility: hidden;
    position: relative;
}
.text {
    position: relative;
    bottom: 30px;
    width: 100%;
    color: #000;
    text-align: center;
    font-family: Seoge UI;
    font-size: 16px;
}
.title {
    position: relative;
    bottom: 15px;
    width: 100%;
    color: #4CAF50;
    text-align: center;
    font-family: Seoge UI;
    font-size: 25px;
}
.shortdesc {
    position: relative;
    bottom: 15px;
    width: 100%;
    color: #000;
    text-align: center;
    font-family: Seoge UI;
    font-size: 12px;
}
.button {
    position: relative;
    background-color: #FFF;
    border: 2px solid #4CAF50;
    font-size: 20px;
    border-radius: 8px;
    width: 90%;
    margin-left: 10px;
    left: -5px;
    bottom: 20px;
    color: #4CAF50;
    align: center;
    align-self: flex-end;
    padding: 10px;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #4CAF50;
    color: #FFF;
}
.card .after {
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.card:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
}
input[type=checkbox] {
    border: 2px solid #000;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    user-select: none;
    cursor: pointer;
    margin: 0 2px 0 4px;
    padding: 1px 1px 1px 32px;
}
span.note {
    font-size: 120%;
    font-family: seoge-ui;
}
ul.pagination {
    display: inline-block;
    position: relative;
    font-size: 11px;
    text-align: center;
    padding: 0;
}
ul.pagination li {
    display: inline;
    text-align: center;
    float: left;
}
ul.pagination li a {
    color: #000;
    float: left;
    text-decoration: none;
    padding: 8px 16px;
}
ul.pagination li a.active {
    background-color: #4CAF50;
    color: #FFF;
}
.container .i {
    display: block;
    width: 40%;
    margin: auto;
}
ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}
a {
    color: rgba(255, 255, 255, 1);
    transition: color .4s;
    text-decoration: none;
}
a:hover {
    color: rgba(255, 255, 255, .70);
    transition: color .4s;
}
.footer {
    position: fixed;
    left: 0;
    background-color: #efefef;
    text-align: center;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    padding: 1rem;
}
.navbar {
    position: relative;
    text-align: center;
    margin: -10px;
}
.navbar ul {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    background-color: #606060;
    margin: 0;
    padding: 0;
}
.navbar li a {
    position: relative;
    display: inline-block;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    margin: 5px 20px 5px 30px;
    padding: 10px 12px;
}
#services:hover,
#offers:hover,
#signin:hover {
    background-color: #4CAF50;
}
#home {
    float: left;
    font-family: "Lucida Handwriting";
    font-size: 20px;
    color: #90EE90;
}
#signup {
    background-color: #4CAF50;
    float: right;
    border-radius: 5px;
}
#signin {
    float: right;
}
a.tooltip::before {
    content: attr(data-tip);
    font-size: 10px;
    position: relative;
    z-index: 999;
    white-space: nowrap;
    bottom: 99px;
    left: 80%;
    background: #000;
    color: #e0e0e0;
    line-height: 24px;
    height: 24px;
    opacity: 0;
    transition: opacity .4s ease-out;
    padding: 0 7px;
}
a.tooltip:hover::before {
    opacity: 1;
    bottom: 2px;
}
r,
#services,
#offers {
    float: left;
}