body{
	background-color :#EEEEEE;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
.container {
	 
	border-radius: 15px;
    border: 1px solid black;
    height: 460px;
	
	background-color : white;
	 z-index: +2;
    padding: 10px 20px 50px 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
	float: left;
	position: relative;
	width: calc(50% * .3333 - 20px + .3333 * 200px);
	margin: 0 30px 30px 0;
	perspective: 1000;
	overflow: visible;
 
}

.compare	{

	height: 30px;
	position: relative;


}

.card{
	 
	padding: 10px 10px 10px 10px;
	height: 260px;
    width: 80%;
	opacity: 1;
	}
	



.middle {
height: 260px;
    width: 80%;
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: 50%;
  left: 50%;
  
}

 
.image {
  opacity: 0.8;
  display: block;
  width: 100%;
  height: 240px;
  transition: .5s ease;
  backface-visibility: hidden;
}
.text {
   position:relative;
  bottom: 30px;
  width: 100%;
  color: green;
  text-align: center;
  font-family: "Arial Black";
  font-size: 16px;
}
.title {
  position:relative;
  bottom: 15px;
  width: 100%;
  color: black;
  text-align: center;
  font-family: "Arial Black";
  font-size: 16px;
}
.shortdesc {
  position:relative;
  bottom: 15px;
  width: 100%;
  color: black;
  text-align: center;
   
  font-size: 12px;
}

.button{
	position: relative;
    background-color: white;
	border: 2px solid #4CAF50;
	font-size: 20px;
	padding: 10px 10px 10px 10px;
	border-radius: 8px;
	width: 90%;
	margin-left: 10px;
	left: -5px;
	bottom: 20px;
	color: #4CAF50; 
	align: center;
	align-self:flex-end;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	background-color: #4CAF50;
    color: white;
}
.card .after {
	border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.card:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
}


r
{

float: left;
}
input[type=checkbox] {
    border: 2px solid #000;
    display: inline-block;
    width: 25px;
    height:25px;
    margin: 0 2px 0 4px;
    padding: 1px;
    text-align: center;
    vertical-align: middle;
	position: relative;
	user-select: none;
    padding-left: 32px;
    cursor: pointer;	
}
span.note {
    font-size: 120%;
    font-family:seoge-ui;
	}
	
ul.pagination {
    display: inline-block;
    padding: 0;
     position:relative;
    font-size:11px;
    text-align:center;
	
}

ul.pagination li {display: inline;text-align:center;float: left;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}
.container .i {
   display: block;
    margin: auto;
    width: 40%;
}
ul.pagination li a:hover:not(.active) {background-color: #ddd;}	

a {
	color: rgba(255, 255, 255, 1);
	transition: color 0.4s;
	text-decoration: none;
}
a:hover {
	color: rgba(255, 255, 255, .70);
	transition: color 0.4s; 
}
